
@using PagedList.Mvc;
@model PagedList.IPagedList<StudentSecondHandWeb.Models.ThingInfo>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台-物品信息</title>
    <link href="~/Content/MyCSS/tableinformation.css" rel="stylesheet" />
    <link href="~/Content/MyCSS/PagedList.css" rel="stylesheet" />
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <style>
        #respicture {
            float: right;
            width: 450px;
            height: 450px;
        }
    </style>
</head>

<body>

    <div id="page-wrap">
        <table>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>主类</th>
                    <th>次类</th>
                    <th>价格</th>
                    <th>简介</th>
                    <th>收藏量</th>
                    <th>查看详情</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.ResName)</td>
                        <td>@Html.DisplayFor(modelItem => item.ResCategoryMain)</td>
                        <td>@Html.DisplayFor(modelItem => item.ResCategorySecond)</td>
                        <td>@Html.DisplayFor(modelItem => item.ResPrice)</td>
                        <td>@Html.DisplayFor(modelItem => item.ResIntroduction)</td>
                        <td>@Html.DisplayFor(modelItem => item.ResColNum)</td>
                        <td>
                            <button id="opener" onclick='showthingdetails(
                                    "@Html.DisplayFor(modelItem => item.ResName)",
                                    "@Html.DisplayFor(modelItem => item.ResCategoryMain)",
                                    "@Html.DisplayFor(modelItem => item.ResCategorySecond)",
                                    "@Html.DisplayFor(modelItem => item.ResPrice)",
                                    "@Html.DisplayFor(modelItem => item.ResPicture)",
                                    "@Html.DisplayFor(modelItem => item.ResIntroduction)",
                                    "@Html.DisplayFor(modelItem => item.ResColNum)",
                                    "@Html.DisplayFor(modelItem => item.RegName)",
                                    "@Html.DisplayFor(modelItem => item.RegPhone)",
                                    "@Html.DisplayFor(modelItem => item.RegIdCard)",
                                    "@Html.DisplayFor(modelItem => item.RegSchool)",
                                    "@Html.DisplayFor(modelItem => item.ShelfTime)",
                                    "@Html.DisplayFor(modelItem => item.WhetherSell)",
                                    "@Html.DisplayFor(modelItem => item.WhetherDown)")'>
                                查看详情
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div id="dialog" title="商品详细信息">

        名称：<span id="resname"></span>
        <span><img id="respicture" src="" /></span>
        <p>主类：<span id="rescategorymain"></span></p>
        <p>次类：<span id="rescategorysecond"></span></p>
        <p>价格：<span id="resprice"></span>元</p>
        <p>收藏量：<span id="rescolnum"></span>次</p>
        <p>介绍：<span id="resintroduction"></span></p>
        <p>物主：<span id="regname"></span></p>
        <p>电话：<span id="regphone"></span></p>
        <p>身份证：<span id="regidcard"></span></p>
        <p>学校：<span id="regschool"></span></p>
        <p>上架时间：<span id="shelltime"></span></p>
        <p>是否出售：<span id="whethersell"></span></p>
        <p>是否下架：<span id="whetherdown"></span></p>

    </div>

    @Html.PagedListPager(
        Model, page => Url.Action("AdminThingInfoes", new { page = page }),
        new PagedListRenderOptions {
            LinkToFirstPageFormat = "首页",
            LinkToPreviousPageFormat = "上一页",
            LinkToNextPageFormat = "下一页",
            LinkToLastPageFormat = "尾页",
            MaximumPageNumbersToDisplay = 5
        }
    )

    <script src="~/Scripts/MyJavaScripts/backgroundinfodetails.js"></script>
</body>
</html>


